.title{
  overflow: hidden;
  &-text{
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.24;
    text-align: center;
    color: var(--black-text-color);
  }
}