:root{
  --header-border-color:#828282;
  --header-link-color:#828282;
  --header-link-hover-color:#070707;
  --black-text-color:#070707;
  --btn-back-color:#070707;
  --btn-text-color:#ffffff;
  --grey-text-color:#828282;
  --white-back-color:#ffffff;
  --grey-back-color:#F6F6F6;

}