@import "imports";

* {
  font-family: 'Gilroy-Bold', sans-serif;
  font-weight: 400;
}



.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 993.61px;
  padding-left:24px;
  padding-right:24px;
  margin: 0 auto;
}

.content{
  @include flex-col;
  gap: 104px;
}

html{
  scroll-behavior: smooth;
}



